#wrap{
    width:1200px;
    height:700px;
}
body{
    background-color: rgb(154, 255, 255);
    width: 500px;
}
#ss1{
    width: 400px;
    margin-top: 200px;
    margin-left: 100px;
    float: left;
    display: block;
}
.hh1{
    color: rgb(8, 185, 185);
}
.hh2{
    color: rgb(8, 185, 185);
}
.pp1{
    margin-top: 20px;
    text-align: justify;
    color: grey;
    font-weight: bold;
}
.pp1:hover{
    color: black;
}
.pp2{
    width: 80px;
    padding: 5px;
    border-radius: 8px;
    background-color: rgb(48, 71, 71);
    color: white;
    font-weight: bold;
}
.pp2:hover{
    color: black;
    background-color:rgb(149, 160, 160);
}
.name{
    color: rgb(85, 77, 77);
}
#img{
    width: 500px;
    float: left;
    display: block;
    margin-left: 100px;
    height:100px;
}
img{
    width: 500px;
    height: 600px;
}